<mat-toolbar color="primary" id="toolbar">
  <span class="title">Thomas Mean</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <a class="header-item no-underline" href="https://github.com/ThomasMean" target="_blank">
    <span class="ion ion-logo-github"></span>
  </a>
  <a class="header-item no-underline" href="https://www.linkedin.com/in/thomas-mean/" target="_blank">
    <span class="ion ion-logo-linkedin"></span>
  </a>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <a class="header-item no-underline" (click)="scrollById('profile')">Profile</a>
    <a class="header-item no-underline" (click)="scrollById('experience')">Experience</a>
    <a class="header-item no-underline" (click)="scrollById('education')">Education</a>
    <a class="header-item no-underline" (click)="scrollById('projects')">Projects</a>
    <a class="header-item no-underline" (click)="scrollById('recommend')">Recommendations</a>
    <a class="header-item no-underline" (click)="scrollById('contact')">Contact</a>
  </div>
  <a [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <span class="white-no-underline header-item ion ion-md-menu"></span>
  </a>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('profile')">Profile</span>
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('experience')">Experience</span>
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('education')">Education</span>
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('projects')">Projects</span>
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('recommend')">Recommendations</span>
  <span mat-menu-item class="header-item-mobile" (click)="scrollById('contact')">Contact</span>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>