<a id="profile"></a>
<div class="pad-top panel">
  <h2>Who am I?</h2>
  <span fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-around center">
    <span class="intro-text">
      A passionate and driven software developer, with 3 years professional experience across the full software development stack, primarily
      developing web applications. I've worked in various projects across multiple industries, from fintechs to national charities. My core
      languages include Javascript/Angular and Java/Spring, with experience utilising Agile methodologies, and within a DevOps role.<br />See
      down below to learn more, or feel free to reach out if you have any questions.
    </span>
    <img class="pro-pic pad-top" src="./assets/img/profile.JPG" />
  </span>
</div>
