<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <app-history></app-history>
  <app-repository-list></app-repository-list>
  <img class="pro-pic" src="./assets/img/profile.JPG" />
</div>
<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <app-references fxFlex="90"></app-references>
</div>
<!-- <section>
  <app-intro></app-intro>
</section>
<section>
  <app-work-history></app-work-history>
</section>
<section>
  <app-education-history></app-education-history>
</section>
<section>
  <app-references></app-references>
</section>
<section>
  <app-repository-list></app-repository-list>
</section>
<section>
  <img class="pro-pic" src="./assets/img/profile.JPG" />
</section> -->
