/* You can add global styles to this file, and also import other style files */

$ionicons-font-path: '~ionicons/dist/fonts';
@import '~ionicons/dist/scss/ionicons.scss';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  color: white;
}

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif !important;
}

a {
  color: white;
  text-decoration: underline;
}

.pad-top {
  padding-top: 50px;
}

h2 {
  font-size: 32px;
}

.subtitle {
  font-size: 20px;
}

.panel {
  padding: 10% 10%;
}
